* {
  box-sizing: border-box;
}
body {
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 85%;
  margin: auto;
}
.row {
  width: 100%;
}
.clearfix::after {
  clear: both;
  content: "";
  display: block;
}
.col {
  float: left;
  width: 25%;
  padding: 10px;
}
.card:hover {
  transform: translate(0px, -15px);
  transition: 1s;
}
.card {
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 5px 8px;
  height: 410px;
  overflow: scroll;
  scrollbar-width: none;
}
.card > img {
  width: 100%;
}
h3,
p {
  margin-left: 10px;
  margin-right: 10px;
}
.diamond img {
  width: 200px;
  height: 200px;
  background: red;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  float: right;
}
.header h1 {
  text-align: center;
  margin: 10px;
  float: left;
  width: 50%;
  margin-top: 150px;
}
#para {
  text-align: center;
  font-weight: 900;
}
.diamond {
  position: relative;
  float: right;
  margin-right: 15px;
  margin-top: 50px;
}
.diamond .img1 {
  position: absolute;
  right: 100px;
  overflow: hidden;
}
.diamond .img2 {
  position: absolute;
  right: 210px;
  top: 110px;
}
.diamond .img3 {
  position: absolute;
  top: 110px;
  left: 10px;
  right: 150px;
}
.diamond .img4 {
  position: absolute;
  right: 100px;
  top: 220px;
}
nav {
  background-color: black;
  width: 100%;
  position: fixed;
  z-index: 1000;
}
nav li {
  display: inline;
  margin-right: 35px;
  padding: 10px;
}
nav a {
  color: white;
}
nav li:hover {
  background-color: lightgreen;
  transition: 1s;
}
nav li:hover a {
  color: black;
}
.header {
  height: 40vw;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)),
    url("./Top Hiking Trails in Germany.jpg") center/cover no-repeat;
  position: relative;
  color: white;
  margin-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 480px) {
  nav {
    position: fixed;
    top: 0;
  }
  nav a {
    font-size: 20px;
    margin-right: 0px;
  }
  .header h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
    float: none;
    margin-top: 54px;
  }
  .diamond {
    display: none;
  }
  .col {
    width: 100%;
  }
  .footer p {
    line-height: 2em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
  }
  nav a {
    font-size: 20px;
    margin-right: 0px;
  }
  .header h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0px;
    float: none;
    margin-top: 54px;
  }
  .diamond {
    display: none;
  }
  .col {
    width: 50%;
  }
}
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
.footer p {
  margin: 0;
  position: relative;
}
.footer p:hover {
  color: lightgreen;
  transition: 1s;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 27px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}
.icons {
  width: 100%;
  background-color: black;
}
